
@keyframes post-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes post-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes overlay-in {
  0% { opacity: 0; }
  100% { opacity: .7; }
}

@keyframes overlay-out {
  0% { opacity: .7; }
  100% { opacity: .0; }
}

@keyframes post-btn-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
    box-shadow: 0px 0px 10px rgba(42, 222, 146, .6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(42, 222, 146, .6);
  }
}

@keyframes btn-hover {
  0% { box-shadow: none }
  50% { box-shadow: 0px 0px 10px rgba(61, 139, 255, .8); }
  100% { box-shadow: 0px 0px 10px rgba(61, 139, 255, .6); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* width: 50px;
&:nth-of-type(1) {
  z-index: 5;
}
&:nth-of-type(2) {
  transform: translateX(-38px);
  z-index: 3;
}
&:nth-of-type(3) {
  transform: translateX(-76px);
} */

@keyframes logoMiddleHover {
  0% {
    transform: translateX(-38px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes logoFirst {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
    50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes logoMiddle {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateX(-38px);
    opacity: 1;
  }
}

@keyframes logoLast {
  0% {
    transform: translateX(-68px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateX(-76px);
    opacity: 1;
  }
}

@keyframes trending {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(-60px);
    opacity: 1;
  }
}


