$background_lightgrey: #F2F2F2;
$main_blue: #3D8BFF;
$main_green: #1ED689;
$main_darkblue: #282A42;

$light_grey: #D1D2DD;
$medium_grey: #6C6E86;

$comment-box: #E6E7EE;

$error_red: #FF3939;

$snow: #FAFDFF;
$card-border-color: #BABBC5;
$dark-card-border: #1C1E31;

$overlay: #34353C;

$profile-body: #BDBECC;
$profile-title: #DADAE0;

$input-bg: #DFE2E7;
$input-bd: #C1C9D4;
