.button {
  padding: .5rem 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;

  &.green {
    background: $main_green;
  }

  &.blue {
    background: $main_blue;
  }

  &:hover {
    animation: btn-hover $btn-hover-timing;
  }

  &.white {
    color: $snow;
  }

  &.secondary {
    border: 2px solid $main_green;
    font-family: $roboto-condensed;
    font-weight: $font-bold;

    &:active, &:visited {
      color: $main_darkblue;
    }
  }

  &.register-btn {
    margin-top: 1rem;
  }
}

.form-btn {
  width: 100%;
}

.btn-toggle {
  border-radius: 100%;
  margin-left: 1rem;
  padding: 1rem;
  background-image: url('/static/img/Vector-fill.svg') !important;
  background-position-x: 9px !important;

  &:focus {
    outline: none;
  }
}

.start-audiowave, .stop-audiowave, .btn-toggle {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-position-x: 10px !important;
  background-image: url('/static/img/play.svg') !important
}

.start-audiowave {
  background-image: url('/static/img/pause.svg') !important;
  background-position-x: center !important;
}

.stop-audiowave {
  background-image: url('/static/img/play.svg') !important;
}



