.form {
  display: flex;
  justify-content: center;
  color: $main_darkblue;

  .wrapper {
    width: 40%;
    padding: 5rem 0;

    h1 {
      z-index: 1;
      position: relative;

      &::before {
        content: url('/static/img/brush-stroke-green.svg');
        z-index: -1;
        position: absolute;
        left: -.5rem;
        top: .3rem;
      }

      &.login-title {
        &::before {
          content: url('/static/img/brush-stroke-blue.svg');
        }
      }
    }

    h5 {
      margin: 0 0 .2rem 0;
      letter-spacing: 1px;
    }

    input, select {
      width: 100%;
      padding: .5rem;
      margin-bottom: 1rem;
      border: 1px solid $light_grey;
      letter-spacing: .05rem;
      color: $medium_grey;
      box-sizing: border-box;
      outline: none;

      &::placeholder {
        color: $light_grey;
      }

      &:focus {
        border-bottom: 1px solid $error_red;
      }

      &:focus:not(:invalid) {
        border-bottom: 1px solid $main_green;
      }
    }
    .invalid {
      border-bottom: 1px solid $error_red;
    }

    select {
      border-radius: 0;
      -webkit-appearance: none;
      position: relative;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: center;
      background-image: url('/static/img/arrow.svg');
    }

    .dual-input {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .single {
        flex: 1;

        &:nth-of-type(1) {
          margin-right: 5px;
        }

        &:nth-of-type(2) {
          margin-left: 5px;
        }
      }
    }

    .error {
      color: $error_red;
      font-family: $roboto_condensed;
      text-align: center;
      border: 1px solid $error_red;
      padding: .2rem;
      border-radius: 2px;
      margin-bottom: 1rem;
      display: none;
    }
  }
}

.login {
  input {
    &:focus {
      outline: none;
      border-bottom: 1px solid $main_blue;
    }
  }
}
