@import 'base';

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background_lightgrey;
}

.add-post {
  bottom: 0;
  right: 0;
  margin: 1rem;
  position: absolute;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background: $overlay;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .7;
  z-index: 5;
  display: none;
}