@import 'base';

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background_lightgrey;
}

.add-post {
  bottom: 0;
  right: 0;
  margin: 5rem;
  position: fixed;

  img {
    border-radius: 100%;
  }

  &:hover {
    img {
      //box-shadow: 0px 0px 10px rgba(42, 222, 146, 1);
      // transform: translateY(-20)px;
      // transform: scale(2);
      animation: post-btn-hover $post-btn-timing;
    }
  }
}

#overlay {
  width: 100vw;
  height: 100vh;
  background: $overlay;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: none;
  animation: overlay-in $overlay-timing;

  &.closing {
    animation: overlay-out $overlay-timing;
  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: url("/static/img/loading.svg");
  animation: spin 2s infinite linear;
}

