.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $main_darkblue;
  // z-index: 10;
  // position: relative;

  .logo {
    width: 3rem;
    margin-left: .8rem;

    img {
      width: 100%;
    }
  }

  .right-side-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .profile-container {
      @include mobile {
        display: none;
      }
      margin-top: 64px;
      margin-right: 1rem;
      background-color: $main_darkblue;

      .inner {
        width: 80%;
        height: 80%;
      }
    }
    .dropdown-toggle {
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 1rem;
      background-image: url('/static/img/Vector.svg');
    }
  }
}