.header {
  height: 40px;
  position: relative;
  background-color: $main_darkblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .profile-container {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin-top: 36px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main_darkblue;

    .inner {
      width: 80%;
      height: 80%;
      border-radius: 100%;
      background-color: pink;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
  .dropdown-toggle {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1rem;
    background-image: url('/static/img/Vector.svg');
  }
}