@import 'form';

.login-page {
  background: pink;
  height: 100vh;
  display: flex;

  .form-container {
    flex-basis: 40%;
    background: $background_lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      flex-basis: 100%;
    }
  }

  .aside-container {
    flex-basis: 60%;
    position: relative;
    background: $main_darkblue;

    @include mobile {
      display: none;
    }
  }
}