#post-card {
  z-index: 10;
  padding: 1rem;
  background: $snow;
  border: $card-border;
  border-radius: $card-border-radius;
  margin-bottom: 1rem;

  .post-header {
    display: flex;

    .profile-container {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: .8rem;
    }

    .usr-time {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4, p {
        margin: 0;
      }

      p {
        color: $card-border-color;
        font-size: 12px;
      }
    }
  }

  .image-container {
    text-align: center;
    
    img {
      border-radius: 2px;
      width: 100%;
    }

    video {
      width: 100%;
      border-radius: 2px;
    }
  }
}