.single-post-container {
  z-index: 10;
  padding: 1rem;
  background-color: #FAFDFF;
  border: 1px solid #BABBC5;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.post-anime-out {
  animation: post-anime-out .2s ease-in forwards;
}

#post-card {
  .post-header {
    display: flex;
    position: relative;

    .profile-container {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: .8rem;
    }

    .usr-time {
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;

      h4, p {
        margin: 0;
      }

      p {
        color: $card-border-color;
        font-size: 12px;
      }
    }

    .more-btn {
      width: 24px;
      height: 24px;
      background-image: url(/static/img/more-vertical.svg);
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .more-popup {
      display: flex;
      background: $error_red;
      right: -10rem;
      position: absolute;
      margin-top: -1rem;
      padding: 1rem;
      border-radius: 2px;
      cursor: pointer;

      &::before {
        content: url('/static/img/more-popup-pointer.svg');
        z-index: -1;
        position: absolute;
        left: -9px;
      }

      .delete-this {
        margin: 0;
        color: $snow;
        font-family: $roboto-condensed;
        font-weight: $font-bold;
        transition: all .15s ease;
      }

      &:hover {
        .delete-this { transform: translateX(3px); }
      }
    }
  }



  .media-container {
    text-align: center;

    img {
      border-radius: 2px;
      width: 100%;
    }

    video {
      width: 100%;
      border-radius: 2px;
    }
  }

  hr {
    margin-top: 2rem;
  }

  .votes-container {
    display: flex;
    flex-direction: row-reverse;

    .like, .dislike {
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-left: .25rem;
      }
    }

    .dislike {
      margin-left: 1rem;
    }
  }
  .audiopost-controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .volume {
      margin-bottom: 0;
    }

    input[type=range] {
      height: 32px;
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      border: none;
      background: none;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 24px;
      cursor: pointer;
      background: $light_grey;
      border-radius: 50px;
    }
    input[type=range]::-webkit-slider-thumb {
      height: 25px;
      width: 25px;
      border-radius: 25px;
      background: $main_blue;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -0.5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #CFCFCF;
    }

  }
  .comments-container {
    border-top: $card-border;
    .comment-group {

      .comment-container {

        .comment-header {
          display: flex;
          align-items: center;
          img {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: .4rem;
            border-radius: 50%;
          }
        }

        .comment {
          background-color: $main_blue;
          border-radius: 1.5rem;
          font-size: 14px;
          word-break: break-word;

          p {
            margin: auto;
            padding: 0.4rem 1.0rem;
            color: $snow;
          }
        }

        .comment-footer {
          font-size: 12px;
          display: flex;
          flex-direction: row;
          a {
          }
          p {
            margin: 0 0.2rem;
            color: $card-border-color;
          }
        }
      }

    }

    .reply-btn {
      background: none;
      border: none;
    }

    .reply-btn:hover {
      background: none;
      animation: btn-hover $btn-hover-timing;
    }
  }
}
