.profile-wrapper {
  // margin: 0 25rem 0 15rem;
  display: flex;
  max-width: 60%;
  justify-content: center;
  margin-left: 15%;

  @include mobile {
    margin: .5rem;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
  }

  .info {
    @include mobile {
      border: 1px solid $card-border-color;
      border-radius: $card-border-radius;
      margin-right: 0;
    }

    flex: 2;
    padding: 1rem;
    margin-right: .5rem;
    background-color: $snow;
    border: 1px solid $card-border-color;
    border-top: none;
    border-radius: 0 0 $card-border-radius $card-border-radius;
    text-align: center;
    font-size: $font-size-regular;

    .upper {
      @include mobile {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }

      .loc-name {
        @include mobile {
          flex: 1;
        }

        .display-name {
          z-index: 1;
          position: relative;
          font-weight: $font-bold;
          margin-bottom: .5rem;
          color: $main-darkblue;
    
          &::before {
            content: url(/static/img/stroke-green-profile.svg);
            z-index: -1;
            position: absolute;
            left: -50%;
            right: -50%;
          }
        }

        .stroke {
          background-image: url('/static/img/stroke-green-profile.svg');
        }
          
    
        .location {
          font-family: $lato;
          color: $medium-grey;
        }
      }

      .display-name,
      .location {
        margin: 0;
        margin-bottom: 1rem;
        font-weight: $font-regular;
      }
  
      .image-container {
        border-radius: 100%;
        width: 10rem;
        height: 10rem;
        margin: auto;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $card-border-color;

        @include sm-desktop {
          width: 8rem;
          height: 8rem;
        }

        @include mobile {
          width: 6rem;
          height: 6rem;
          margin: 0;
        }
  
        .inner {
          overflow: hidden;
          width: 90%;
          height: 90%;
          border-radius: 100%;
  
          .img {
            width: 100%;
          }
        }
      }  
    }


    .statistics {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      @include mobile {
        justify-content: flex-start;
        flex-direction: row;
        margin-top: 1rem;
      }

      @include sm-desktop {
        flex-direction: column;
        align-items: center;
      }
      
      .followers {
        @include mobile {
          margin-right: 1rem;
        }

        @include sm-desktop {
          //margin-right: 1rem;
        }
      }

      .followers,
      .following {
        display: flex;
        //margin: .25rem 0;
        
        .number {
          margin: 0 5px 0 0;
          color: $main-darkblue;
          font-weight: $font-bold;
        }
        .text {
          color: $medium-grey;
          margin: 0;
        }
      }
    }

    .bio {
      text-align: left;

      .title,
      .bio-text {
        margin: 0;
      }

      .bio-text {
        color: $medium-grey;
      }

      .title {
        font-weight: $font-bold;
        color: $main-darkblue;
      }
    }
  }

  .feed {
    flex: 5;
    background-color: blue;
    margin: 1rem 1rem 1rem .5rem;
  }
}