.profile-wrapper {
  margin: 0 25rem 0 15rem;
  display: flex;

  @include mobile {
    margin: .5rem;
    flex-direction: column;
  }

  .info {

    @include mobile {
      border: 1px solid $card-border;
      margin-right: 0;
      
    }

    flex: 2;
    padding: 1rem;
    margin-right: .5rem;
    background-color: $snow;
    border: 1px solid $card-border;
    border-top: none;
    border-radius: 0 0 5px 5px;
    text-align: center;
    font-size: $font-size-regular;

    .display-name,
    .location {
      margin: 0;
      margin-bottom: 1rem;
      font-weight: $font-regular;
    }

    .display-name {
      z-index: 1;
      position: relative;
      font-weight: $font-bold;
      margin-bottom: .5rem;

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 150%;
        left: 16%;
        background-repeat: no-repeat;
        background-image: url('/static/img/stroke-green-profile.svg');
      }
    }

    .location {
      font-family: $lato;
    }

    .image-container {
      border-radius: 100%;
      width: 10rem;
      height: 10rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $card-border;

      .inner {
        overflow: hidden;
        width: 90%;
        height: 90%;
        border-radius: 100%;

        .img {
          width: 100%;
        }
      }
    }

    .statistics {
      display: flex;
      justify-content: space-between;

      .followers,
      .following {
        display: flex;
        
        .number {
          margin-right: 5px;
          color: $main-darkblue;
          font-weight: $font-bold;
        }
        .text {
          color: $medium-grey;
        }
      }
    }

    .bio {
      text-align: left;

      .title,
      .bio-text {
        margin: 0;
      }

      .title {
        font-weight: $font-bold;
      }
    }
  }

  .feed {
    flex: 5;
    background-color: blue;
    margin: 1rem 1rem 1rem .5rem;
  }
}