.profile-container {
  @include mobile {
    display: none;
  }

  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%;
  }

  .inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}