// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

// font variables
$roboto-condensed: 'Roboto Condensed', sans-serif;
$font-bold: 700;


h1, h2, h3, h4, h5, h6 {
  font-family: $roboto-condensed;
  font-weight: $font-bold;
}

button {
  font-family: $roboto-condensed;
  font-weight: $font-bold;
  font-size: 14px;
}