{{>_header}}
<div class="feed-container">
  {{>_feed}}
</div>
<script src="/static/js/wavesurfer.js"></script>
<script src="/static/js/feed.js"></script>
<script src="https://unpkg.com/wavesurfer.js"></script>