<div class="login-page">
  <div class="form-container">
      {{#if login}}
          {{> _login}}
      {{else}}
          {{> _register}}
      {{/if}}
  </div>
  <div class="aside-container">

  </div>
</div>
