<div class="login-page">
  <div class="login-page__form-container">
      {{#if login}}
          {{> _login}}
      {{else}}
          {{> _register}}
      {{/if}}
  </div>
  <div class="login-page__aside-container">

  </div>
</div>
