<div class="login-page">
  <div class="login-page__form-container">
    {{> _login}}
  </div>
  <div class="login-page__aside-container">
    
  </div>
</div>
<script src="/static/js/validate.js"></script>
