<div class="login-page">
  <div class="form-container">
      {{#if login}}
          {{> _login}}
      {{else}}
          {{> _register}}
      {{/if}}
  </div>
  <div class="aside-container">
    <div id="landing-overlay"></div>
    <div id="grid-container"></div>

  </div>
</div>
<script src="/static/js/imgGallery.js"></script>
