{{>_header}}
{{>_make-post}}
<div id="overlay"></div>
<div class="profile-wrapper">

  <div class="info-container">
    <div class="info">
      <div class="upper">
        <div class="loc-name">
          <h2 class="display-name">Name</h2>
          <span class="stroke"></span>
          <h4 class="location">City, Country</h4>
        </div>

        <div class="media-container">
          <div class="inner">
            <img id="usrImg" class="img" src="/static/img/bbe.png">
          </div>
        </div>
      </div>

      <div class="statistics">
        <div class="followers">
          <p class="number">666</p>
          <p class="text">Followers</p>
        </div>
        <div class="following">
          <p class="number">666</p>
          <p class="text">Following</p>
        </div>
      </div>

      <div class="bio">
        <p class="title">Bio</p>
        <p class="bio-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>


  <div id="profile-feed-container" class="feed-container">
    {{>_feed}}
  </div>

</div>
{{>_add-post-btn}}
<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

<script src="/static/js/wavesurfer.js"></script>
<script src="/static/js/feed.js"></script>
<script src="/static/js/vote.js"></script>


