{{>_header}}
<div class="profile-wrapper">
  <div class="profile-wrapper__info">

    <h2 class="profile-wrapper__info__display-name">Name</h2>
    <h4 class="profile-wrapper__info__location">City, Country</h4>

    <div class="profile-wrapper__info__image-container">
      <div class="profile-wrapper__info__image-container__inner">
        <img class="profile-wrapper__info__image-container__inner__img" src="/static/img/bbe.png">
      </div>
    </div>

    <div class="profile-wrapper__info__statistics">
      <div class="profile-wrapper__info__statistics__followers">
        <p class="profile-wrapper__info__statistics__followers__number">666</p>
        <p class="profile-wrapper__info__statistics__followers__text">Followers</p>
      </div>
      <div class="profile-wrapper__info__statistics__following">
        <p class="profile-wrapper__info__statistics__following__number">666</p>
        <p class="profile-wrapper__info__statistics__following__text">Following</p>
      </div>
    </div>

    <div class="profile-wrapper__info__bio">
      <p class="profile-wrapper__info__bio__title">Bio</p>
      <p class="profile-wrapper__info__bio__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

  </div>
  <div class="profile-wrapper__feed">
    feed
  </div>
</div>
<script src="/static/js/profile.js"></script>
