{{> _header }}
<content>
<form id="mediaform">
    <input type="text" name="displayName" placeholder="DisplayName">
    <br>
    <input type="text" name="bio" placeholder="Bio">
    <br>
    <input type="text" name="city" placeholder="City">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <label>Profile picture
        <input type="file" name="mediafile" accept="image/*">
    </label>
    <br>
    <button type="submit">Submit</button>
</form>

</content>
<script src="/static/js/usersetting.js"></script>