{{> _header }}
<div id="loading"></div>
<div class="settings-wrapper">
    <div class="row settings-title">
        <h2>Profile</h2>
        <button type="submit" class="button blue" id="form">Submit</button>
    </div>
    <form id="mediaform" class="divider">
        <div class="row">
            <label class="column">Display Name</label>
            <input class="column" type="text" name="displayName" placeholder="DisplayName">
        </div>
        <div class="row">
            <label class="column">Bio</label>
            <textarea class="column" name="bio" placeholder="Bio"></textarea>
        </div>
        <br>
        <div class="row">
            <label class="column">City</label>
            <input class="column" type="text" name="city" placeholder="City">
        </div>
        <br>
        <div class="row">
            <label class="column">Email</label>
            <input class="column" type="text" name="email" placeholder="Email">
        </div>
    </form>

    <form id="profile-pic-form">
        <div class="row">
            <label class="column" for="profile-image">Profile picture</label>
            <img class="img" id="image" src="/static/img/bbe.png">
            <input class="column" id="profile-image" type="file" name="mediafile" accept="image/*">
        </div>
        <br>
        <button type="submit" class="button blue" id="picture">Change</button>
    </form>
</div>
<script src="/static/js/usersetting.js"></script>
