<header class="header">
  <a href="/">
    <div class="logo">
      <img src="/static/img/logo.svg" alt="">
    </div>
  </a>
  <div class="right-side-items">
    <div id="dropdown-toggle" class="profile-container">
      <div class="inner">
        <img src="/static/img/bbe.png" alt="">
      </div>
    </div>
    <div class="dropdown">
      <a id="dd-profile" href="">Profile</a>
      <a id="dd-settings" href="">Settings</a>
      <a id="dd-logout" href="">Logout</a>
    </div>
  </div>
</header>
<script src="/static/js/header.js"></script>
