<header class="header">
  <a href="/">
    <div class="logo">
      <img src="/static/img/logo.svg" alt="">
    </div>
  </a>

  <div class="right-side-items">
    <button class="button blue white" id="logout-btn">Logout</button>
    <div class="profile-container">
      <div class="inner">
        <img src="/static/img/bbe.png" alt="">
      </div>
    </div>
  </div>
</header>
<script src="/static/js/header.js"></script>
