<header class="header">
    <div class="header__dropdown-toggle">
  </div>
  <div class="header__profile-container">
    <div class="header__profile-container__inner">
      <img src="/static/img/bbe.png" alt="">
    </div>
  </div>
</header>