
  <form class="form login">
    <div class="form__wrapper">
      <h1 class="login-title">Login</h1>

      <label for="username"><h5>username</h5></label>
      <input type="text" placeholder="Enter Email" name="username" required>

      <label for="psw"><h5>password</h5></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit" class="button blue login-btn form-btn">Sign Up</button>
    </div>
  </form>