
  <form name="login-form" class="form login">
    <div class="wrapper">
      <h1 class="login-title">Login</h1>

      <input id="username" class="login-input" type="text" placeholder="Username" name="username" required>

      <input id="password" class="login-input" type="password" placeholder="Password" name="psw" required>
      <div id="form-error" class="error">Eipä ollu</div>

      <button type="submit" id="submit" class="button blue login-btn form-btn">Login</button>
      <div id="new-user">
        <p>New User?</p>
        <a class="button secondary">Sign Up</a>
      </div>
    </div>
  </form>

  <script src="static/js/login.js"></script>
