<div class="fullscreen">
  <div class="post-container">
    <a class="close">
      <img src="/static/img/x.svg" alt="">
    </a>
    <h1>Create a post</h1>
    <form name="post-form" class="form post-form" id="post-form">
      <textarea id="postText" rows="4" cols="50" name="postText" form="post-form" placeholder="Write a post..."></textarea>
      <div class="filetype-selection-container">
        <h4>Choose a filetype</h4>
          <div class="radiobtn-container">
            <input type="radio" id="filetype-img" name="filetype" value="image">
            <label for="filetype-img">Image</label>
          </div>
          <div class="radiobtn-container">
            <input type="radio" id="filetype-video" name="filetype" value="video">
            <label for="filetype-video">Video</label>
          </div>
          <div class="radiobtn-container">
            <input type="radio" id="filetype-audio" name="filetype" value="video">
            <label for="filetype-audio">Audio</label>
          </div>
      </div>
      <div class="upload-container">
        <div class="file-container">
          <div class="file-icons">
            <img src="/static/img/icon-audio.svg" alt="">
            <img src="/static/img/icon-photo.svg" alt="">
            <img src="/static/img/icon-video.svg" alt="">
            <h3>Drop files here</h3>
          </div>
          <input class="file" type="file" accept="all" name="file" id="file-input" data-multiple-caption="{count} files selected"
            multiple />
          <label for="file"></label>
        </div>
        <div class="progress">stuff</div>
      </div>
    </form>
    <button type="submit" id="submit-post" class="button blue form-btn">Post</button>
  </div>
</div>