<div class="post-container">
  this is the post form :)
  <form name="post-form">
    <h1>Create a post</h1>
    <textarea id="text" rows="4" cols="50" name="text" form="post-form">Write a post...</textarea>
  </form>
  <button type="submit" id="submit-post" class="button blue form-btn">Post</button>
</div>