
  <a id="back-to-login" href="/login">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left-circle">
      <circle class="circle" cx="12" cy="12" r="10"></circle>
      <polyline points="12 8 8 12 12 16">
      </polyline>
      <line x1="16" y1="12" x2="8" y2="12"></line>
    </svg>
    {{!-- <img src="/static/img/arrow-left-circle.svg" alt=""> --}}
  </a>
  <form class="form register" id="registerForm">
    <div class="fwrapper">
      <h1>Sign Up</h1>

      <label for="username"><h5>username</h5></label>
      <input id="username" type="text" placeholder="Enter Username" name="username" required>

      <label for="email"><h5>email</h5></label>
      <input id="email" type="email" placeholder="Enter Email" name="email" required>

      <label for="displayName"><h5>display name</h5></label>
      <input type="text" placeholder="display name" name="displayName" required>

      <label for="select"><h5>country</h5></label>
      <select name="country">
        {{#each country}}
          <option class="placeholder" value="" selected disabled hidden>Country</option>
          <option value="{{countryId}}">{{countryName}}</option>
        {{/each}}
      </select>
      <label for="city"><h5>city</h5></label>
      <input type="text" placeholder="city" name="city" required>

      <label for="psw"><h5>password</h5></label>
      <input id="psw" type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><h5>confirm password</h5></label>
      <input id="psw-repeat" type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <div id="form-error" class="form__wrapper__error"></div>
      <button id="register-submit" type="submit" class="button green register-btn form-btn">Sign Up</button>
    </div>
  </form>
  <script src="static/js/register.js"></script>
