
  <form class="form register">
    <div class="form__wrapper">
      <h1>Register</h1>

      <label for="username"><h5>username</h5></label>
      <input type="text" placeholder="Enter Email" name="username" required>
      
      <label for="email"><h5>email</h5></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

      <button type="submit" class="registerbtn">Register</button>
    </div>
  </form>