<div id="single-post-container">
  <div id="post-card">
    <div class="post-header">
      <div class="profile-container">
        <img src="/static/img/bbe.png" alt="">
      </div>
      <div class="usr-time">
        <h4>username</h4>
        <p>{{timestamp}}</p>
      </div>
    </div>
    <div class="text-container">
      <p>{{text}}</p>
    </div>
    {{#if images}}
    <div class="image-container">
      {{#each images}}
      <img src="/static/uploads/{{fileName}}">
      {{/each}}
    </div>
    {{else}}
    <p>eipä ollu kuvia</p>
    {{/if}}
  </div>
</div>