{{>_header}}
<div id="loading"></div>
<div id="trending-feed" class="feed"></div>
<script src="/static/js/wavesurfer.js"></script>
<script src="/static/js/trending.js"></script>
<script src="https://unpkg.com/wavesurfer.js"></script>

